@using kgtwebClient.Helpers;
@{
    ViewBag.Title = "AddDogToEvent";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var remainingDogs = DogHelpers.GetDogsNotInEvent(Model.EventId);    //get all dogs except this which are in this event already
}

@model Dogs.ViewModels.Data.Models.DogEventModel


<div style="margin:60px">

    @using (Html.BeginForm("AddDogEvent", "DogEvents", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.EventId)
        <div style="float:left">
            <div class="form-group">
                @Html.LabelFor(m => m.DogId, new { @class = "col-md-2 control-label form-field" })
                <div class="col-md-10  form-field">
                    @Html.DropDownListFor(m => m.DogId, remainingDogs, new { @class = "form-control" })
                    @*@Html.TextBoxFor(m => m.CertificateId, new { @class = "form-control" })*@
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.LostPerson, new { @class = "col-md-2 control-label form-field" })
                <div class="col-md-10 form-field">
                    @Html.TextBoxFor(m => m.LostPerson, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Notes, new { @class = "col-md-2 control-label form-field" })
                <div class="col-md-10 form-field">
                    @Html.TextBoxFor(m => m.Notes, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Weather, new { @class = "col-md-2 control-label form-field" })
                <div class="col-md-10 form-field">
                    @Html.TextBoxFor(m => m.Weather, new { @class = "form-control" })
                </div>
            </div>
            <div>
                Dodaj plik .GPX ze śladem pozoranta<br />
                @Html.TextBox("lostPersonTrackFile", "", new { type = "file" }) <br /><br />
            </div>
            <div>
                Dodaj plik .GPX ze śladem psa<br />
                @Html.TextBox("dogTrackFile", "", new { type = "file" }) <br /><br />
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default form-field" value="Prześlij dane" />
                </div>
            </div>
        </div>
    }
</div>

