@using kgtwebClient.Helpers;
@using Dogs.ViewModels.Data.Models.Enums;
@using Dogs.ViewModels.Data.Models;

@model Dogs.ViewModels.Data.Models.DogModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var EnumCount = Enum.GetValues(typeof(DogWorkmode)).Length;
    var guides = GuideHelpers.GetAllGuidesIdAndName();
    var currentGuide = guides.Where(x => x.Value == LoginHelper.GetCurrentUserId().ToString()).FirstOrDefault();
    currentGuide.Selected = true;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

@using (Html.BeginForm("AddDog", "Dogs",@*new { id = Model.DogId},*@ FormMethod.Post, new
                                                                    {
                                                                        enctype = "multipart/form-data"@*, onsubmit = "validateAddDog()"*@}))
{
@Html.ValidationSummary(true)
@Html.HiddenFor(m => m.DogId)
<div style="margin:100px">
    <div style="float:left">
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label form-field" })
            <div class="col-md-10  form-field">
                @Html.TextBoxFor(m => m.Name, new { @id = "addDogName", @class = "form-control" })
            </div>
            <div id="addDogNameValidationInfo" class="formValidation">
                To pole musi być uzupełnione.
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Breed, new { @class = "col-md-2 control-label form-field" })
            <div class="col-md-10  form-field">
                @Html.TextBoxFor(m => m.Breed, new { @id = "addDogBreed", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-md-2 control-label form-field" })
            <div class="col-md-10  form-field">
                @Html.TextBoxFor(m => m.DateOfBirth, new { type = "date", @id = "addDogDateOfBirth", @class = "form-control" })
            </div>
            <div id="addDogDateOfBirthValidationInfo" class="formValidation">
                To pole musi być uzupełnione.
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Level, new { @class = "col-md-2 control-label  form-field" })
            <div class="col-md-10 form-field">
                @Html.EnumDropDownListFor(m => m.Level, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Workmodes, new { @class = "col-md-2 control-label form-field" })
            <div class="col-md-10 form-field">
                @foreach (int workmode in Enum.GetValues(typeof(DogWorkmode)))
                {
                    var workmodeName = Enum.GetName(typeof(DogWorkmode), workmode);

                    @Html.CheckBox(workmodeName, false, new
               { @*@class = "form-control",*@@id = "dogWorkmode" + workmode
               })
                    @Html.DisplayName(workmodeName)
                    <br />


                }
            </div>
        </div>
        <div>
            @Html.HiddenFor(m => m.Workmodes, new { @id = "workmodeSum" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Notes, new { @class = "col-md-2 control-label form-field" })
            <div class="col-md-10 form-field">
                @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.GuideIdAndName, new { @class = "col-md-2 control-label form-field" })
            <div class="col-md-10 form-field">
                @Html.DropDownListFor(m => m.GuideIdAndName.Id, guides, new { @class = "form-control" })
            </div>
        </div>
        @*
        <div>
            @Html.HiddenFor(m => m.GuideIdAndName.GuideId)
        </div>
        *@
        <div>
            Dodaj zdjęcie psa <br />
            @Html.TextBox("imageFile", "", new { type = "file" }) <br /><br />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default form-field" value="Dodaj" onclick="return validateAddDog()" />
            </div>
        </div>



    </div>
    <div class="picture">
        @{ 
            Random rnd = new Random();
            int dogNumber = rnd.Next(1, 13); // creates a number between 1 and 12
            var path = $"../Images/dogsPicture/dogFlatIcon{dogNumber}.png";
        }

        <img src=@path @*height="400" width="400"*@>
        <div class="pictureInfo">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        
    </div>
    
</div>
            }

<script>
    function caculateWorkmodeSum() {
        var workmodeSum = 0;
        for (var i = 0; i < @EnumCount; i++) {

            console.log('#dogWorkmode' + Math.pow(2, i));
            console.log("tuu");
            console.log($('#dogWorkmode' + Math.pow(2, i)).prop('checked'));


            if ($('#dogWorkmode' + Math.pow(2, i)).is(':checked')) {
                workmodeSum += Math.pow(2, i);
            }
        }
        console.log(@EnumCount);
        console.log("workmode: " + workmodeSum);
        $('#workmodeSum').val(workmodeSum);
    }
    
    function validateAddDog() {
        caculateWorkmodeSum();
        var dogName = document.getElementById("addDogName").value;
        //alert(typeof $('#addDogDateOfBirth').val());
        if ($('#addDogName').val() == "" || $('#addDogDateOfBirth').val() == "") {
            if ($('#addDogName').val() == "")
                document.getElementById("addDogNameValidationInfo").style.display = "block";
            else
                document.getElementById("addDogNameValidationInfo").style.display = "none";

            if ($('#addDogDateOfBirth').val() == "")
                document.getElementById("addDogDateOfBirthValidationInfo").style.display = "block";
            else
                document.getElementById("addDogDateOfBirthValidationInfo").style.display = "none";


            return false;
        }
    }
</script>
</body>
</html>