@model kgtwebClient.Models.Dog
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="margin:100px">
        <div style="float:left">
            @using (Html.BeginForm("AddDog", "Dogs",@*new { id = Model.DogID},*@ FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(m => m.DogID)
                <fieldset>
                    <table>
                        <tr>
                            <td>Imię</td>
                            <td>@Html.TextBoxFor(m => m.Name) </td>
                            @*<td><input type="text" class="dogUpdate" name="updateDogName" value="@Html.DisplayFor(model => model.Name)"></td>*@
                        </tr>
                        <tr>
                            <td>Data urodzenia</td>
                            <td>@Html.TextBoxFor(m => m.DateOfBirth) </td>
                            @*<td><input type="text" class="dogUpdate" name="updateDogLevel" value="@Html.DisplayFor(model => model.DateOfBirth)"></td>*@
                        </tr>
                        <tr>
                            <td>Poziom</td>
                            <td>@Html.TextBoxFor(m => m.Level) </td>
                            @*<td><input type="text" class="dogUpdate" name="updateDogLevel" value="@Html.DisplayFor(model => model.Level)"></td>*@
                        </tr>
                        <tr>
                            <td>Tryb pracy</td>
                            <td>@Html.TextBoxFor(m => m.Workmodes) </td>
                            @*<td><input type="text" class="dogUpdate" name="updateDogLevel" value="@Html.DisplayFor(model => model.Workmode)"></td>*@
                        </tr>
                        <tr>
                            <td>Notatki</td>
                            <td>@Html.TextBoxFor(m => m.Notes) </td>
                            @*<td><input type="text" class="dogUpdate" name="updateDogNotes" value="@Html.DisplayFor(model => model.Notes)"></td>*@
                        </tr>
                        @*
                        <tr>
                        <td>Przewodnik</td>
                        <td>@Html.TextBoxFor(m => m.Guide, new { @Value = Model.Workmode }) </td> // pobierz dane przewodnika z konta zalogowanego
                        </tr>
                        *@
                    </table>
                    <input type="submit" value="Dodaj do bazy" />
                </fieldset>
                }

        </div>
        <div class="picture">
            <img src="~/Images/piesek1.jpg" height="400" width="400">
            <br />
            Wybierz nowe zdjęcie: <input type="file" name="file" />

        </div>
    </div>

</body>
</html>