@using Dogs.ViewModels.Data.Models;
@using kgtwebClient.Helpers;
@model Dogs.ViewModels.Data.Models.DogModel


@{
    ViewBag.Title = "Dog";
}


<div style="margin:60px">
    <div class="data">
        <h4>@Html.DisplayFor(model => model.Name)</h4>
        <hr />
        <dl class="dl-horizontal" style="float:left">
            <dt>
                @Html.DisplayNameFor(model => model.GuideIdAndName.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GuideIdAndName.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Breed)
            </dt

            <dd>
                @Html.DisplayFor(model => model.Breed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Level)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Level)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Workmodes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Workmodes)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>

            <dd>
                @Model.DateOfBirth.ToString("dd/MM/yyyy")

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>

        </dl>
    </div>
    <div class="picture">
        <img src="@Model.PhotoBlobUrl" height="400" width="400">
    </div>
</div>
<p style="margin:60px">
    @{ 
        if (LoginHelper.IsCurrentUserAdmin() || LoginHelper.GetCurrentUserId() == Model.GuideIdAndName.Id)
        {
            @Html.ActionLink("--Update Dog--", "UpdateDog", "Dogs", new { id = Model.DogId }, null)
        }
    }

    @Html.ActionLink("Back to List", "Index")
</p>
