@using Dogs.ViewModels.Data.Models;
@using kgtwebClient.Helpers;
@model Dogs.ViewModels.Data.Models.DogModel


@{
    ViewBag.Title = "Dog";
}


<div style="margin:60px; overflow:auto">
    <div class="data" style="float:left; max-width:50%">
        <h4>@Html.DisplayFor(model => model.Name)</h4>
        
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.GuideIdAndName.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GuideIdAndName.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Breed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Breed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Level)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Level)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Workmodes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Workmodes)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>

            <dd>
                @Model.DateOfBirth.ToString("dd/MM/yyyy")

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>

        </dl>


    </div>

    <div class="picture">
        @if (!String.IsNullOrWhiteSpace(Model.PhotoBlobUrl))
        {
            <img src="@Model.PhotoBlobUrl" @*height="400" width="400"*@>
        }
        else
        {
            Random rnd = new Random();
            int dogNumber = rnd.Next(1, 13); // creates a number between 1 and 12
            var path = $"../../Images/dogsPicture/dogFlatIcon{dogNumber}.png";

            <img src=@path @*height="400" width="400"*@>
            <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        }
    </div>

    
</div>

<div class="buttons">
    @{
        if (LoginHelper.IsAuthenticated())
        {

            <button class="displayButton" onclick="location.href='@Url.Action("Index", "DogCertificates", new { dogId = Model.DogId })'">Pokaż certyfikaty psa</button>
            <button class="displayButton" onclick="location.href='@Url.Action("Index", "DogEvents", new { dogId = Model.DogId })'">Pokaż wydarzenia psa</button>
        }

        if (LoginHelper.IsCurrentUserAdmin() || LoginHelper.IsCurrentUserMember())
        {
            <button class="displayButton" onclick="location.href='@Url.Action("Index", "DogTrainings", new { dogId = Model.DogId })'">Pokaż treningi psa</button>

        }

        if (LoginHelper.IsCurrentUserAdmin() || LoginHelper.GetCurrentUserId() == Model.GuideIdAndName.Id)
        {
            <button class="updateButton" onclick="location.href='@Url.Action("UpdateDog", "Dogs", new { id = Model.DogId })'">Zmień dane</button>
        }
    }

    @Html.ActionLink("Back to List", "Index")
</div>

