@using Dogs.ViewModels.Data.Models;
@using kgtwebClient.Helpers;
@using System.Collections;
@model List<Dogs.ViewModels.Data.Models.DogModel>


@{
    ViewBag.Title = "Home Page";
}


@*<div class="jumbotron"> *@
<div class="tables">
    <input type="text" id="dogsSearch" onkeyup="searchByDogOrGuideName()" placeholder="Szukaj po imieniu psa/przewodniku.." title="Type in a name">
    @{  if (LoginHelper.IsAuthenticated()) {
            <button class="addButton" onclick="location.href='@Url.Action("AddDog", "Dogs")'">dodaj Psa</button> }
    }
    @*<button id="button1" onclick="location.href='@Url.Action("DeleteDog","Dogs",new { id=7})'">delete</button> *@
    <div>
        <table id="dogsTable">
            <tr>
                <th>ID</th>
                <th>Imię</th>
                <th>Przewodnik</th>
                @*<th>Data urodzenia</th>
                <th>Poziom</th>
                <th>Tryb pracy</th>
                <th>Notatki</th>
                *@
                <th>Rasa</th>


            </tr>
            @foreach (var item in Model)

            {
            <tr @*onclick="document.location = 'http://kgtwebclient.azurewebsites.net/Dogs/Dog/' + @item.DogId;"  *@>
                <td class="tdOnclick">
                    @item.DogId
                </td>
                <td class="tdOnclick">
                    @item.Name
                </td>
                @*<td class="tdOnclick">
            @item.DateOfBirth
        </td>
        <td class="tdOnclick">
            @item.Level
        </td>
        <td class="tdOnclick">
            @item.Workmode
        </td>
        <td class="tdOnclick">
            @item.Notes
        </td>
                *@


                <td class="tdOnclick">
                    @item.GuideIdAndName.Name
                </td>

                <td class="tdOnclick">
                    @item.Breed
                </td>

                @*buttons *@
                <td style="background-color:white">
                    <button class="displayButton" onclick="location.href='@Url.Action("Dog", "Dogs", new { id = @item.DogId })'">wyświetl</button>
                </td>
                @{ if (LoginHelper.IsCurrentUserAdmin() || LoginHelper.GetCurrentUserId() == item.GuideIdAndName.Id)
                    {
                        <td style="background-color:white">
                            @*location.href='@Url.Action("DeleteDog", "Dogs", new { id = @item.DogId })'*@
                            <button class="deleteButton" onclick="deleteDog(@item.DogId)" id="@("deleteDogButton" + item.DogId)">usuń</button>
                        </td>
                        <td style="background-color:white">
                            <button class="updateButton" onclick="location.href='@Url.Action("UpdateDog", "Dogs", new { id = @item.DogId })'">zmień</button>
                        </td>
                    } }

            </tr>

            }

        </table>
    </div>
</div>
<script>
    function searchByDogOrGuideName() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("dogsSearch");
        filter = input.value.toUpperCase();
        table = document.getElementById("dogsTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
             /* search by dog's name*/
            tdDogName = tr[i].getElementsByTagName("td")[1];  
            /* search by guide's  name*/
            tdGuideName = tr[i].getElementsByTagName("td")[2]; 
            if (tdDogName || tdGuideName) {
                if (tdDogName.innerHTML.toUpperCase().indexOf(filter) > -1 || tdGuideName.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    @* location.href='@Url.Action("DeleteDog", "Dogs", new { id = @item.DogId })' *@

    function deleteDog(dogId) {
       // var id = dogId;
        alert("Delete dog: " + dogId);
        //document.getElementById("disp").innerHTML = "hi";
        $.ajax({
            url: "@Url.Action("DeleteDog", "Dogs")",
            method: "POST", //First change type to method here

            data: {
                id: dogId, // Second add quotes on the value.
            },
            success: function (response) {
                if (response) {
                    //var resp = jQuery.parseJSON(response);
                    var resp = response;
                    //console.log(resp);
                    if (resp.success) {
                        alert("udało się usunac psa o id: " + resp.id);
                        //usunięcie z tabeli tr ktory zawiera button o id deleteDogButton<id>
                        //var buttonId = "deleteDogButton" + dogId;
                    var button = $("#deleteDogButton" + resp.id );

                    var tableRow = button.closest("tr");
                        //alert(button.text());
                        tableRow.remove();
                    }
                }
            },
            error: function () {
                alert("error");
            }

        });
    }

    //$(document).ready(function () {
    //    $('#dogsTable').on("click", "td.tdOnclick", function () {
    //        alert('ho ho ho');
    //    });
    //});
</script>

@*
    </div>

*@
