@{
    ViewBag.Title = "AddCertificate";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Dogs.ViewModels.Data.Models.CertificateModel


<div style="margin:60px">

    @using (Html.BeginForm("AddCertificate", "Certificates", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.CertificateId)
        <div style="float:left">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label form-field" })
                <div class="col-md-10  form-field">
                    @Html.TextBoxFor(m => m.Name, new { @id="name", @class = "form-control" })
                </div>
                <div class="formValidation" id="nameValidationInfo">
                To pole musi być uzupełnione.
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label form-field" })
                <div class="col-md-10  form-field">
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Level, new { @class = "col-md-2 control-label form-field" })
                <div class="col-md-10 form-field">
                    @Html.TextBoxFor(m => m.Level, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ValidThroughMonths, new { @class = "control-label form-field" })
                <div class="col-md-10 form-field">
                    @Html.TextAreaFor(m => m.ValidThroughMonths, new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default form-field" value="Prześlij dane" onclick="return validateAddCertificate()"/>
                </div>
            </div>


        </div>
    }
</div>

<script>
    function validateAddCertificate() {
        if ($('#name').val() == "") {
            document.getElementById("nameValidationInfo").style.display = "block";
            return false;
        }
        else {
            document.getElementById("nameValidationInfo").style.display = "none";
            return true;
        }
    }
</script>

