@using Dogs.ViewModels.Data.Models;
@using kgtwebClient.Helpers;
@model Dogs.ViewModels.Data.Models.CertificateModel

@{
    ViewBag.Title = "Cerfiticate";
}

@{
    var dogsInDogCertificate = CertificateHelper.GetDogsByCertificateId(Model.CertificateId).Result;
}


<div style="margin:60px">
    @{
        if (LoginHelper.IsCurrentUserAdmin())
        {
            @Html.ActionLink("--Update Certificate--", "UpdateCertificate", "Certificates", new { id = Model.CertificateId }, null)
        }
    }

    @Html.ActionLink("Back to List", "Index")
    <div class="data">
        <h4>@Html.DisplayFor(model => model.Name)</h4>
        <hr />
        <dl class="dl-horizontal" style="float:left">
            <dt>
                @Html.DisplayNameFor(model => model.Level)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Level)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ValidThrough)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ValidThrough)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DogIds)
            </dt>


            @if (dogsInDogCertificate != null && dogsInDogCertificate.Any())
            {
                <dt>
                    Psy posiadające certifikat:
                </dt>
                <dd>
                    <table id="dogsTable">
                        @{
                            foreach (var dog in dogsInDogCertificate)
                            {
                                <tr>
                                    <td>@dog.Name</td>
                                    <td>@dog.Breed</td>
                                    <td>@dog.GuideIdAndName.Name</td>
                                    <td>
                                        <button class="displayButton" onclick="location.href='@Url.Action("DogCertificate", "DogCertificates", new { dogId = @dog.DogId, certificateId=Model.CertificateId  })'">wyświetl szczegóły</button>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </dd>
            }

        </dl>
    </div>
</div>
<p style="margin:60px">

</p>


