
@{
    ViewBag.Title = "UpdateCertificate";
}

@using kgtwebClient.Helpers;


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Dogs.ViewModels.Data.Models.CertificateModel


<div style="margin:60px">

    @using (Html.BeginForm("UpdateCertificate", "Certificates", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.CertificateId)
        @* <fieldset>*@
        <div style="float:left">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label form-field" })
                <div class="col-md-10  form-field">
                    @Html.TextBoxFor(m => m.Name, new { @Value = Model.Name, @id="name", @class = "form-control" })
                </div>
                <div class="formValidation" id="nameValidationInfo">
                    To pole musi być uzupełnione.
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label form-field" })
                <div class="col-md-10  form-field">
                    @Html.TextAreaFor(m => m.Description, new { @Value = Model.Description, @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Level, new { @class = "col-md-2 control-label form-field" })
                <div class="col-md-10  form-field">
                    @Html.TextBoxFor(m => m.Level, new { @Value = Model.Level, @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ValidThroughMonths, new { @class = "control-label  form-field" })
                <div class="col-md-10 form-field">
                    @Html.TextBoxFor(m => m.ValidThroughMonths, new { @type = "number", @Value = Model.ValidThroughMonths, @class = "form-control", @min = "0" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default form-field" value="Prześlij dane" onclick="return validateUpdateCertificate()"/>
                </div>
            </div>
            @*/////////////////////////////////////////////////////*@
        </div>
    }
</div>

<script>
    function validateUpdateCertificate() {
        if ($('#name').val() == "") {
            document.getElementById("nameValidationInfo").style.display = "block";
            return false;
        }
        else {
            document.getElementById("nameValidationInfo").style.display = "none";
            return true;
        }
    }
</script>