@* TODO: remove this form *@
@{
    ViewBag.Title = "AddTraining";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Dogs.ViewModels.Data.Models.TrainingModel

<div style="margin:60px">

    @using (Html.BeginForm("AddTraining", "Trainings", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
    <div style="float:left">
        <div class="form-group">
            @Html.LabelFor(m => m.GeneralLocation, new { @class = "col-md-2 control-label form-field" })
            <div class="col-md-10  form-field">
                @Html.TextBoxFor(m => m.GeneralLocation, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LocationDetails, new { @class = "col-md-2 control-label form-field" })
            <div class="col-md-10  form-field">
                @Html.TextBoxFor(m => m.LocationDetails, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Date, new { @class = "col-md-2 control-label form-field" })
            <div class="col-md-10  form-field">
                @Html.TextBoxFor(m => m.Date, new { type = "datetime-local", @id = "addDate", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Notes, new { @class = "col-md-2 control-label form-field" })
            <div class="col-md-10 form-field">
                @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default form-field" value="Prześlij dane" />
            </div>
        </div>
        @*/////////////////////////////////////////////////////*@
    </div>
    }
</div>

@*
    </body>
    </html>
*@