@* TODO: remove this form *@
@{
    ViewBag.Title = "AddTraining";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Dogs.ViewModels.Data.Models.TrainingModel

<div style="margin:60px">

    @using (Html.BeginForm("AddTraining", "Trainings", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
    <div style="float:left">
        <div class="form-group">
            @Html.LabelFor(m => m.GeneralLocation, new { @class = "col-md-2 control-label form-field" })
            <div class="col-md-10  form-field">
                @Html.TextBoxFor(m => m.GeneralLocation, new { @id = "localization", @class = "form-control" })
            </div>
            <div id="localizationValidationInfo" class="formValidation">
                To pole musi być uzupełnione.
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LocationDetails, new { @class = "col-md-2 control-label form-field" })
            <div class="col-md-10  form-field">
                @Html.TextBoxFor(m => m.LocationDetails, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Date, new { @class = "col-md-2 control-label form-field" })
            <div class="col-md-10  form-field">
                @Html.TextBoxFor(m => m.Date, new { type = "datetime-local", @id = "addDate", @class = "form-control" })
            </div>
            <div id="dateValidationInfo" class="formValidation">
                To pole musi być uzupełnione.
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Notes, new { @class = "col-md-2 control-label form-field" })
            <div class="col-md-10 form-field">
                @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default form-field" value="Prześlij dane" onclick="return validateAddTraining()" />
            </div>
        </div>
        @*/////////////////////////////////////////////////////*@
    </div>
    }
</div>
<script>
    function validateAddTraining() {
        if ($('#localization').val() == "" || $('#addDate').val() == "") {
            if ($('#localization').val() == "")
                document.getElementById("localizationValidationInfo").style.display = "block";
            else
                document.getElementById("localizationValidationInfo").style.display = "none";

            if ($('#addDate').val() == "")
                document.getElementById("dateValidationInfo").style.display = "block";
            else
                document.getElementById("dateValidationInfo").style.display = "none";


            return false;
        }
    }
</script>