@using kgtwebClient.Helpers;

@{
    ViewBag.Title = "Training";
}

@using Dogs.ViewModels.Data.Models;
@model Dogs.ViewModels.Data.Models.TrainingModel



<div style="margin:60px">
    <p style="margin:60px">
        @{ if (LoginHelper.IsAuthenticated())
            {
                @Html.ActionLink("--Update Training--", "UpdateTraining", "Trainings", new { id = Model.TrainingId }, null)
            } 
        }

                @Html.ActionLink("Back to List", "Index")
            </p>
    <div class="data">
        <h4>@Html.DisplayFor(model => model.GeneralLocation) @Html.DisplayFor(model => model.Date)</h4>
        <hr />
        <dl class="dl-horizontal" style="float:left">
            <dt>
                @Html.DisplayNameFor(model => model.LocationDetails)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LocationDetails)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>
            <dt style="color:red; font-size:large">
                COMMENTS HERE SOMETIME
            </dt>

            @if (Model.DogTrainings != null && Model.DogTrainings.Any())
            {
                <dt>
                    @Html.DisplayNameFor(model => model.DogTrainings)
                </dt>
                <dd>
                    <table id="dogsTable">
                        @{
                            foreach (var dogTraining in Model.DogTrainings)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => dogTraining.Dog.Name)</td>
                                    <td>
                                        <button class="displayButton" onclick="location.href='@Url.Action("Training", "DogTrainings", new { dogId = @dogTraining.DogId, trainingId=dogTraining.TrainingId  })'">wyświetl trening psa</button>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </dd>
            }

        </dl>
    </div>
</div>

