@using kgtwebClient.Helpers;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — moja aplikacja platformy ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">*@
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

    <div id="navbar">
        <span id="openMenu" onclick="openMenu()">&#9776; Menu</span>
        <div style="float:right;">

            <a href="http://kgt.org.pl" class="linkIcon fa fa-paw"></a>
            <a href="https://www.facebook.com/KGTKrakow/" class="linkIcon fa fa-facebook"></a>
            <a href="https://www.instagram.com/krakowskagrupatropiaca/" class="linkIcon fa fa-instagram"></a>
            <a href="https://plus.google.com/109000329789218540395"class="linkIcon fa fa-google-plus"></a>

            @if (LoginHelper.IsAuthenticated())
            {
                @*<button class="loginButton" type="button" onclick="location.href='@Url.Action("Index", "Account", new { id = "myAccountLink"  })'">Moje konto</button>*@
                @Html.ActionLink("Moje konto", "Index", "Account", routeValues: null, htmlAttributes: new { @class = "loginButton", id = "myAccountLink" })
                using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { style = "display:inline;", id = "logoutForm" }))
                {
                    <button type="submit" class="loginButton">Wyloguj</button>
                    @*<a href="javascript:document.getElementById('logoutForm').submit()">
                    <span>Wyloguj</span>
                </a>*@
                }
            }
            else
            {
                @*<button class="loginButton" type="button" onclick="location.href='@Url.Action("Register", "Account", new { id = "registerLink"  })'">Zarejestruj się</button>
            <button class="loginButton" type="button" onclick="location.href='@Url.Action("Login", "Account", new { id = "loginLink"  })'">Zaloguj się</button>*@

                @Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "loginButton", id = "registerLink" })
                @Html.ActionLink("Zaloguj", "Login", "Account", routeValues: new { returnUrl = @Request.Url.AbsoluteUri }, htmlAttributes: new { @class = "loginButton", id = "loginLink" })
            }
        </div>
    </div>
    @*<div id="mySidenav" class="sidenav">   *@
    <div id="menu" class="menu">
        <a href="javascript:void(0)" class="menuCloseButton" onclick="closeMenu()">&times;</a>
        <ul>
            Informacje
            <li> @Html.ActionLink("Psy", "Index", "Dogs")</li>      @*nazwa widoczna w aplikacji - metoda - kontroler*@
            <li>@Html.ActionLink("Przewodnicy", "Index", "Guides")</li>
            @if (LoginHelper.IsCurrentUserAdmin() || LoginHelper.IsCurrentUserMember())
            {
                <li>@Html.ActionLink("Treningi", "Index", "Trainings")</li>
            }
            <li>@Html.ActionLink("Wydarzenia", "Index", "Events")</li>
            <li>@Html.ActionLink("Certyfikaty", "Index", "Certificates")</li>
        </ul>
    </div>



    <div id="content">

        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year — moja aplikacja platformy ASP.NET</p>
            </footer>*@
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        function openMenu() {
            document.getElementById("menu").style.width = "250px";
            document.getElementById("content").style.marginLeft = "250px";
        }

        function closeMenu() {
            document.getElementById("menu").style.width = "0";
            document.getElementById("content").style.marginLeft = "0";
        }
    </script>
    @*<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>*@

</body>
</html>
