@using Dogs.ViewModels.Data.Models;
@using kgtwebClient.Helpers;
@model Dogs.ViewModels.Data.Models.EventModel
{
    ViewBag.Title = "Event";
}

@{ 
    var dogsInDogEvent = DogHelpers.GetDogsByEventId(Model.EventId);
}

<div style="margin:60px">
    @{
        if (LoginHelper.IsCurrentUserAdmin())
        {
            @Html.ActionLink("Zmień dane o wydarzeniu", "UpdateEvent", "Events", new { id = Model.EventId }, null)
        }
    }

    @Html.ActionLink("Wróć do listy", "Index")
    <div class="data">
        <h4>@Html.DisplayFor(model => model.Title)</h4>
        <hr />
        <dl class="dl-horizontal" style="float:left">
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Model.Date.ToString("dd/MM/yyyy")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StreetOrLocation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StreetOrLocation)
            </dd>
            
            @if (LoginHelper.IsCurrentUserAdmin() || LoginHelper.IsCurrentUserMember())
            { 
                <dt>
                    @Html.DisplayNameFor(model => model.IsCommercialTraining)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsCommercialTraining)
                </dd>
            }

            @if (dogsInDogEvent != null && dogsInDogEvent.Any())
            {
                <dt>
                    Psy biorące udział w wydarzeniu:
                </dt>
                <dd>
                    <table id="dogsTable">
                        @{
                            foreach (var dog in dogsInDogEvent)
                            {
                                <tr>
                                    <td>@dog.Name</td>
                                    <td>@dog.Breed</td>
                                    <td>@dog.GuideIdAndName.Name</td>
                                    @if (LoginHelper.IsCurrentUserAdmin()
                                        || LoginHelper.IsCurrentUserMember()
                                        || LoginHelper.GetCurrentUserId() == dog.GuideIdAndName.Id)
                                    {
                                        <td>
                                            <button class="displayButton" onclick="location.href='@Url.Action("DogEvent", "DogEvents", new { dogId = @dog.DogId, eventId = Model.EventId })'">wyświetl szczegóły</button>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </table>
                </dd>
            }
        </dl>
    </div>
</div>
<p style="margin:60px">

</p>


