
@using Dogs.ViewModels.Data.Models.Account;
@model Dogs.ViewModels.Data.Models.Account.ResetPasswordModel

@{
                /**/

                ViewBag.Title = "Zresetuj hasło";
}
<div style="margin:60px">
    <h2>@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="resetPasswordForm">
                @using (Html.BeginForm("ResetPassword", "Account", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserNameOrEmail, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserNameOrEmail, new { @id = "userNameOrEmail", @class = "form-control" })
                        </div>
                        <div class="formValidation" id="userNameOrEmailValidationInfo">
                            To pole musi być uzupełnione.
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @id = "password", @class = "form-control" })
                        </div>
                        <div class="formValidation" id="passwordValidationInfo">
                            To pole musi być uzupełnione. Hasło musi mieć minimum 6 znaków i minimum 1 cyfrę.
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "confirmPassword", @class = "form-control" })
                        </div>
                        <div class="formValidation" id="confirmPasswordValidationInfo">
                            To pole musi być uzupełnione.
                        </div>
                    </div>
                    <div class="formValidation" id="passwordsDoNotMatch">
                        Podane hasła nie są identyczne!
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <br />
                            <input type="submit" value="Wyślij" class="btn btn-default" onclick="return validateResetPassword()" />
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.Token)

                }
            </section>
        </div>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>

    function validateResetPassword() {
        if ($('#userNameOrEmail').val() == "" || $('#password').val() == "" || $('#confirmPassword').val() == "") {
            if ($('#userNameOrEmail').val() == "")
                document.getElementById("userNameOrEmailValidationInfo").style.display = "block";
            else
                document.getElementById("userNameOrEmailValidationInfo").style.display = "none";

            if ($('#password').val() == "")
                document.getElementById("passwordValidationInfo").style.display = "block";
            else
                document.getElementById("passwordValidationInfo").style.display = "none";

            if ($('#confirmPassword').val() == "")
                document.getElementById("confirmPasswordValidationInfo").style.display = "block";
            else
                document.getElementById("confirmPasswordValidationInfo").style.display = "none";

            if ($('#password').val() != $('#confirmPassword').val())
                document.getElementById("passwordsDoNotMatch").style.display = "block";
            else
                document.getElementById("passwordsDoNotMatch").style.display = "none";

            return false;
        }
    }
</script>