 
@{
    ViewBag.Title = "Index";
}

@using Dogs.ViewModels.Data.Models;
@model Dogs.ViewModels.Data.Models.GuideListModel


@{
    ViewBag.Title = "Home Page";
}


@*<div class="jumbotron"> *@
<div class="tables">
    <input type="text" id="dogsSearch" onkeyup="searchByDogOrGuideName()" placeholder="Search for names.." title="Type in a name">
    @*<button class="addButton" onclick="location.href='@Url.Action("AddGuide", "Guides")'">dodaj przewodnika</button>*@
    @*<button id="button1" onclick="location.href='@Url.Action("DeleteDog","Dogs",new { id=7})'">delete</button> *@
    <div>
        <table id="guidesTable">
            <tr>
                <th>ID</th>
                <th>Imię</th>
                @*<th>Data urodzenia</th>
                    <th>Poziom</th>
                    <th>Tryb pracy</th>
                    <th>Notatki</th>
                *@
                <th>Nazwisko</th>


            </tr>
            @foreach (var item in Model.ListOfGuides)

            {
            <tr @*onclick="document.location = 'http://kgtwebclient.azurewebsites.net/Dogs/Dog/' + @item.DogID;"  *@>
                <td class="tdOnclick">
                    @item.FirstName
                </td>
                <td class="tdOnclick">
                    @item.LastName
                </td>



                @*<td class="tdOnclick">@item.GuideIdAndName.GuideName</td>*@


                <td style="background-color:white">
                    @*location.href='@Url.Action("DeleteDog", "Dogs", new { id = @item.DogID })'*@
                    <button class="deleteButton" onclick="deleteGuide(@item.GuideID)" id="@("deleteGuideButton" + item.GuideID)">usuń</button>
                </td>
                <td style="background-color:white">
                    <button class="updateButton" onclick="location.href='@Url.Action("UpdateGuide", "Guides", new { id = @item.GuideID })'">zmień</button>
                </td>
                <td style="background-color:white">
                    <button class="displayButton" onclick="location.href='@Url.Action("Guide", "Guides", new { id = @item.GuideID })'">wyświetl</button>
                </td>
            </tr>

            }

        </table>
    </div>
</div>
<script>
    function searchByDogOrGuideName() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("dogsSearch");
        filter = input.value.toUpperCase();
        table = document.getElementById("dogsTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
             /* search by dog's name*/
            tdDogName = tr[i].getElementsByTagName("td")[1];
            /* search by guide's  name*/
            tdGuideName = tr[i].getElementsByTagName("td")[2];
            if (tdDogName || tdGuideName) {
                if (tdDogName.innerHTML.toUpperCase().indexOf(filter) > -1 || tdGuideName.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    @* location.href='@Url.Action("DeleteDog", "Dogs", new { id = @item.DogID })' *@

    function deleteGuide(guideId) {
       // var id = dogId;
        alert("Delete guide: " + guideId);
        //document.getElementById("disp").innerHTML = "hi";
        $.ajax({
            url: "@Url.Action("DeleteGuide", "Guides")",
            method: "POST", //First change type to method here

            data: {
                id: guideId, // Second add quotes on the value.
            },
            success: function (response) {
                if (response) {
                    //var resp = jQuery.parseJSON(response);
                    var resp = response;
                    //console.log(resp);
                    if (resp.success) {
                        alert("udało się usunac przewodnika o id: " + resp.id);
                        //usunięcie z tabeli tr ktory zawiera button o id deleteDogButton<id>
                        //var buttonId = "deleteDogButton" + dogId;
                    var button = $("#deleteGuideButton" + resp.id );

                    var tableRow = button.closest("tr");
                        //alert(button.text());
                        tableRow.remove();
                    }
                }
            },
            error: function () {
                alert("error");
            }

        });
    }

    //$(document).ready(function () {
    //    $('#dogsTable').on("click", "td.tdOnclick", function () {
    //        alert('ho ho ho');
    //    });
    //});
</script>

@*
    </div>

*@

