
@{
    ViewBag.Title = "UpdateGuide";
}

@using kgtwebClient.Helpers;


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    /*var workmodes = new List<DogWorkmodeWrapper> { new DogWorkmodeWrapper { Id = 1, Workmode = DogWorkmode.Terrain},
                           new DogWorkmodeWrapper { Id = 2, Workmode = DogWorkmode.Rescue},
                           new DogWorkmodeWrapper { Id = 3, Workmode = DogWorkmode.Rubble}};*/
}

@{
    var checkboxAdmin = Model.IsAdmin ?
        (object)new { @checked = "checked" } :
        (object)new { };

    var checkboxMember = Model.IsMember ?
        (object)new { @checked = "checked" } :
        (object)new { };
}

@model Dogs.ViewModels.Data.Models.GuideModel

<div style="margin:60px">

    @using (Html.BeginForm("UpdateGuide", "Guides", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.GuideId)
        @* <fieldset>*@
        <div style="float:left">
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label form-field" })
                <div class="col-md-10  form-field">
                    @Html.TextBoxFor(m => m.FirstName, new { @id = "firstName", @Value = Model.FirstName, @class = "form-control" })
                </div>
                <div id="firstNameValidationInfo" class="formValidation">
                    To pole musi być uzupełnione.
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label form-field" })
                <div class="col-md-10  form-field">
                    @Html.TextBoxFor(m => m.LastName, new { @id = "lastName", @Value = Model.LastName, @class = "form-control" })
                </div>
                <div id="lastNameValidationInfo" class="formValidation">
                    To pole musi być uzupełnione.
                </div>
            </div>
            @* property not to update?
                <div class="form-group">
                    @Html.LabelFor(m => m.Dogs, new { @class = "col-md-2 control-label form-field" })
                    <div class="col-md-10 form-field">
                        @{
                            if (Model.Dogs != null)
                            {
                                foreach (var dog in Model.Dogs)
                                {
                                    @Html.TextBoxFor(m => m.Dogs, new { @Value = dog.Name, @class = "form-control" })
                                }
                            }
                            else
                            {

                            }
                        }
                    </div>
                </div>
            *@

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label form-field" })
                <div class="col-md-10  form-field">
                    @Html.TextBoxFor(m => m.Email, new { @id = "email", @Value = Model.Email, @class = "form-control" })
                </div>
                <div id="emailValidationInfo" class="formValidation">
                    To pole musi być uzupełnione.
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label  form-field" })
                <div class="col-md-10 form-field">
                    @Html.TextBoxFor(m => m.City, new { @Value = Model.City, @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label form-field" })
                <div class="col-md-10 form-field">
                    @Html.TextBoxFor(m => m.Address, new { @Value = Model.Address, @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label form-field" })
                <div class="col-md-10 form-field">
                    @Html.TextBoxFor(m => m.Phone, new { @Value = Model.Phone, @class = "form-control" })
                </div>
            </div>
            @{ if (LoginHelper.IsCurrentUserAdmin())
                {
                    <div class="form-group">
                        @Html.CheckBox("IsAdmin", checkboxAdmin)
                        @Html.LabelFor(m => m.IsAdmin, new { @class = "col-md-2 control-label form-field" })
                    </div>
                    <div class="form-group">
                        @Html.CheckBox("IsMember", checkboxMember)
                        @Html.LabelFor(m => m.IsMember, new { @class = "col-md-2 control-label form-field" })
                    </div>
                }
            }
            <div class="form-group">
                @Html.LabelFor(m => m.Notes, new { @class = "col-md-2 control-label form-field" })
                <div class="col-md-10 form-field">
                    @Html.TextAreaFor(m => m.Notes, new { @Value = Model.Notes, @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default form-field" value="Prześlij dane" onclick="return validateUpdateGuide()" />
                </div>
            </div>
            @*/////////////////////////////////////////////////////*@
        </div>

        @*</fieldset>*@
    }
</div>

@*
    </body>
    </html>
*@
<script>
    
    function validateUpdateGuide() {
        if ($('#firstName').val() == "" || $('#lastName').val() == "" || $('#email').val() == "") {
            if ($('#firstName').val() == "")
                document.getElementById("firstNameValidationInfo").style.display = "block";
            else
                document.getElementById("firstNameValidationInfo").style.display = "none";

            if ($('#lastName').val() == "")
                document.getElementById("lastNameValidationInfo").style.display = "block";
            else
                document.getElementById("lastNameValidationInfo").style.display = "none";

            if ($('#email').val() == "")
                document.getElementById("emailValidationInfo").style.display = "block";
            else
                document.getElementById("emailValidationInfo").style.display = "none";

            return false;
        }
    }
</script>